<h1 ><strong>vous avez bien confirmé</strong></h1>

<h2 class="p-4">Voir le film proposé :</h2>
<div class="d-flex justify-content-center">
<%= link_to "The Film", pages_final_path, class: "btn btn-primary" %>
</div>
