// Define variables for your color scheme

// For example:
$red: #FF5363;
$blue: #84dcf1;
$light-blue: rgba(#84dcf1, 0.2);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4beda9;
$light-green: rgba(#4beda9, 0.2);
$gray: #0E0000;
$light-gray: #F4F4F4;
