.size{

width: 360px;
height: 660px;
margin: 0 ;

}
#loading {
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image_url("loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(black, 0.25)
}


#center{
  position:relative;
  text-align: center;
}

#zest{
  font-weight: bold;
  color: #c60001;

}

#lock{
  position:absolute;
  top:60px;
  left: 80px;
}

.info{
  padding: 5px;
  margin-top: 20px;
background-color: #ffe0a1;

}

.blaze{
  font-weight: bold;
}

#lock h3{
  margin-top: 25px;
  font-weight: bold;
  color: #c60001;

}
