// .size {
//   width: 100vw;
//   height: 100vh;
//   margin: 0;
// }
#loading {
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), image_url("loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $box-shadow;
}

#center {
  position: relative;
  text-align: center;
}

#zest {
  font-weight: bold;
  color: #c60001;
}

#lock {
  background-size: contain;
  background-repeat: no-repeat;
  // top: 60px;
  // left: 80px;
}

.info {
  margin-top: 20px;
  background-color: white;
  text-align: center;
  box-shadow: $box-shadow;
  padding: 1rem;
  color: black;
  border-radius: 5px;
}

.blaze {
  font-weight: bold;
}

#lock h3 {
  margin-top: 25px;
  font-weight: bold;
  color: #c60001;
}

.resume {
  display: flex;
}
