.size{

width: 360px;
height: 660px;
margin: 0 ;

}

#center{
  position:relative;
  text-align: center;
}

#zest{
  font-weight: bold;
  color: #c60001;

}

#lock{
  position:absolute;
  top:60px;
  left: 80px;
}

.info{
  padding: 5px;
  margin-top: 20px;
background-color: #ffe0a1;

}

.blaze{
  font-weight: bold;
}

#lock h3{
  margin-top: 25px;
  font-weight: bold;
  color: #c60001;

}
