.friends-list {
  max-width: 30rem;
  margin: 1rem auto;
  width: 100%;
}

.friend-line {
  display: flex;
  justify-content: space-between;
}

.friends-pages {
  flex-wrap: wrap-reverse;
}

.friends-form {
  max-width: 30rem;
  margin: 2rem auto;
  width: 100%;
}
