// Specific CSS for your home-page
#main {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 10px;
  margin-top: 44px;
  justify-items:center;
  justify-content:end;
  align-items:center;
  grid-auto-flow:rows;
  background-color: #dedfe3;
  padding-bottom: 60px;

  }

.carte_a {

  width:auto;
  height: auto;
  position: relative;

}

.color{
  color:#fecc00;
  text-align: center;
  background-color:#08288b;
  height:auto;
  }

  .plus-icon{

    // margin: 0;
    color: #E4EFF1;
    z-index: 4;
    position: absolute;
    bottom: 8px;
    right: 8px;
    opacity: 0.8;

  }

