.friendcard {
  background-color: #f4eeff;
  border-radius: 25px;
  box-shadow: $box-shadow;
}

.yop {
  color:#424874;
  right:25px;
  top:25px;
}

// .d-flex{
//  height: 130px;
// }

#ol{
  height: 80px;
   width: 80px

}
