.fa-times-circle:before {
  content: "\f057";
  font-size: 32px;
  color: rgb(25, 25, 25)
}
*, *::before, *::after {
    box-sizing: border-box;
}

.test{
  color: #d12439;
}

.add-film {
  color: green;
}

.goback {
  color: green;
}