<div class="banner-image">
  <div class="row">
    <div class="banner-text col-sm-6">
      <h1>Tu veux organisé une soirée au cinéma facilement ?</h1>
      <%= link_to "J'organise mon ciné !", new_event_path, class: "banner-btn" %>
    </div>
  </div>
</div>

