<h1 class=" d-flex justify-content-center mt-4 color">Partage à tes amis</h1>
<h4>Copie le lien ci-dessous pour inviter tes amis sur les réseaux sociaux :</h4>
<h4><strong><%= answer_url %></strong></h4>
<h4>Une fois tes amis invités, clique sur "Suivant"</h4>
<div class="d-flex justify-content-center mt-4">
  <%= link_to "Suivant", answer_path, class: "btn bungee btn-primary" %>
</div>
