<h1>Choisis ton cinema près de chez toi !</h1>

<form>
  <div>
    <input type="search" id="maRecherche" name="q"
     placeholder="Rechercher sur le site…">
    <button>Rechercher</button>
  </div>
</form>
