<div class="color">
  <h1>A l'affiche</h1>
</div>
<div id="main">
  <% @films.each do |film|%>
    <div class="movie-card">
      <%= link_to film_path(film) do %>
        <%= image_tag film.photo_url,size:"160x200", class: "affiche-bord" %>
        <% if @favorites.include? film.id %>
        <% else %>
          <%= link_to film_favorites_path(film.id),
                  class: "plus-icon",
                  method: :post,
                  alert: "OK",
                  remote: true do %>
            <i class="fas fa-plus-square fa-3x"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
