<div class="color">
<h1>A l'affiche</h1>
</div>
<div id="main">
<% @films.each do |film|%>
<div class="carte_a">
  <%= link_to film_path(film) do %>
    <%= image_tag film.photo_url,size:"160x200" %>
    <%= link_to film_favorites_path(film.id), class: "plus-icon", method: :post do %>
      <i class="fas fa-plus-square fa-4x"></i>
    <% end %>
  <% end %>
</div>
<%end%>
</div>




