<div class="friendcard">
  <div class="cardfri">
<img id="ol" src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
<p>texte à inserer</p>
<i class="fas fa-plus-circle fa-3x"></i>
  </div>
</div>

<div class="friendcard">
  <div class="cardfri">
<img id="ol" src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
<p>texte à inserer</p>
<i class="fas fa-plus-circle fa-3x"></i>
  </div>
</div>

<div class="friendcard">
  <div class="cardfri">
<img id="ol" src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
<p>texte à inserer</p>
<i class="fas fa-plus-circle fa-3x"></i>
  </div>
</div>

<div class="friendcard">
  <div class="cardfri">
<img id="ol" src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
<p>texte à inserer</p>
<i class="fas fa-plus-circle fa-3x"></i>
  </div>
</div>


