<div class="grostitre">
<p><strong>Votre film sera prêt dans ...</strong></p>
</div>
<div>
 <img src="https://media0.giphy.com/media/2XflxzDAw5pn6WaA372/giphy.gif?cid=ecf05e47b20f4084d7c4892b4d8dd762af3b6e21cee3a57b&rid=giphy.gif" alt="" order=0 width=100% height=400 >
</div>
