<div class="error-card">
<h1 class="color2 bungee mb-4">Désolés !</h1>
<h2 class="my-4">Aucun film ne correspond à votre recherche ...</h2>
<h3 class="my-4">Essayez d'élargir votre plage horaire, ou d'ajouter plus de films à vos favoris</h3>
<p class="my-4">Ou alors .. Changez d'amis ! 😃</p>
<div>
<%= link_to "Organiser une nouvelle sortie", new_event_path, class: "btn btn-primary bungee" %>
</div>
<div class="my-4">
<%= link_to "Ajouter de nouveaux films a mes favoris", favorites_path, class: "btn btn-primary bungee" %>
</div>
</div>
