.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}

.avatar-XL {
  width: 140px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  border: white 4px solid;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: $box-shadow;
  border: white 1px solid;
}
