.forms {
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  align-items: center;
  margin-top: 20px;

  .event-form {
    margin: 0 auto;
    max-width: 30rem;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 5px;
    // display: flex;
    // justify-content: left;

    abbr[title] {
      border-bottom: none !important;
      cursor: inherit !important;
      text-decoration: none !important;
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .submit {
    width: min-content;
    align-items: center;
    box-shadow: $box-shadow;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.radio-horaire {
  text-align: center;
  input[type="radio"] {
    display: none;
  }

  .form-check {
    margin: 0.25rem 0;
  }

  .col-form-label {
    text-align: left;
  }

  // label {
  //   padding-right: 10px;
  // }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    display: none;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    // color: white;
    // background-color: #167ffb;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    border-radius: 8px;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: rgba(209, 34, 55, 1);
    position: absolute;
    top: 13px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.copiedtext {
  position: absolute;
  left: 0; top: 0; right: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(-1em);
  color: $gray;
  transition: all .500s;
}
.copied .copiedtext {
  opacity: 1;
  transform: translateY(-2em);
}

button {
  font-size: 1em;
}
textarea {
  display: block;
  width: 100%;
  text-align-last: center;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  font-weight: bold;
  height: 75px;
  background: #F2F2F6;
  padding: 0 15px;
  resize: none;
  outline: none;
  border: hidden;
}
#copy {
  position: relative;
  padding: 8px 20px;
  border: 0;
  font-size: 0.835em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  transition: background .275s;
}
