.centered {
  text-align: center;
  margin: 1rem 0;
}

.profile_top {
  background-color: rgb(89%, 91%, 93%);
  padding: 1rem 0;
  border-radius: 15px;
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  // max-width: 500px;

  h3 {
    margin-top: 0.5rem;
  }
}
