body {
  position: relative;
  min-height: 100%;
    a {
      color: $red;
    }
}

html {
  height: 100%;
  box-sizing: border-box;
}

.corps {
  min-height: calc(100vh - 50px);
}

h1 {
  font-family: Bungee;
}

.bungee {
  font-family: Bungee;
}

$box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
