body {
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.corps {
  min-height: calc(100vh - 50px);
}

h1 {
  font-family: Bungee;
}

.bungee {
  font-family: Bungee;
}

$box-shadow: $box-shadow;
