<p>Bienvenu parmis nous <%= @email %>!</p>

<p>Dernière étape pour accéder pleinement à notre site:</p>

<p><%= link_to 'Je confirme mon e-mail', confirmation_url(@resource, confirmation_token: @token) %></p>
